:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --verydarkblue: hsl(234, 12%, 34%);
    --grayishblue: hsl(229, 6%, 66%);
    --verylightgray: hsl(0, 0%, 98%);
    --poppins: "Poppins", sans-serif;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--poppins);
    background-color: var(--verylightgray);
    font-size: 0.92rem;
    color: var(--grayishblue);
}

h1 {
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--verydarkblue);
    margin-bottom: 0.3rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--verydarkblue);
    margin-bottom: 1.25rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--verydarkblue);
    margin-bottom: 0.5rem;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 3.125rem;
}

.neutral {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 3.75rem;
    max-width: 360px;
}

.box {
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 10px 15px 29px 0px;
    border-radius: 8px;
    padding: 25px;
    padding-bottom: 130px;
    margin-bottom: 1.6rem;
    max-width: 350px;
}

.box.cyan {
    border-top: 4px solid var(--cyan);
}

.box.red {
    border-top: 4px solid var(--red);
}

.box.orange {
    border-top: 4px solid var(--orange);
}

.box.blue {
    border-top: 4px solid var(--blue);
}

svg {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 1281px) {
    .inner-container {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        margin: 0 auto;
    }

    .box.cyan {
        align-self: center;
    }

    .box.blue {
        align-self: center;
    }
}


/* box9 align-self: center */